/* PROGETTI CENTRATI */
.projects-centered {
  overflow-x: visible !important;
  justify-content: center;
  gap: 2rem;
}

/* RESPONSIVE */
@media (max-width: 576px) {
  .projects-small .card {
    width: 45%;
    flex: 0 0 45% !important;
  }
}

/* DARK SECTION */
.bg-dark-portfolio {
  background-color: var(--text);
  color: var(--panna);
}

.bg-dark-portfolio h2 { color: var(--panna); }
