.navbar {
  background-color: var(--panna);
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.navbar .nav-link {
  color: var(--text);
  transition: 0.2s;
  padding-left: 3rem;
  padding-right: 3rem;
}

.navbar-nav { gap: 0.5rem; }

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link.active {
  color: var(--primary);
}
